
.recipe-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}


.recipe-left {
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.recipe-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}


.recipe-time {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    text-align: center;
}


.recipe-right {
    flex-grow: 1; 
    margin-left: 20px;
}

.recipe-description {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}
